@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {

    background: linear-gradient(165.56deg, #6535BB 0%, #299DE9 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    resize: none; /*remove the resize handle on the bottom right*/
}